.items{
    background-color: #fcd34d;
}
.button{
    background-color: #fcd34d;
    color: white;
    border-radius: 20px;
    margin-top: 25px;
}
.info{
    background-color: #fcd34d;
    height: 38vh;
    position: relative;
}
.product_info h3{
    text-align: center;
    position: absolute;
    top: 30px;
}
.center-div{
    margin-top: 100px;
}
.footer{
    text-align: center;
}
.phone, .cam, .processor, .charge{
    text-align: center;
}
i{
    font-size: x-large;
}
.footer1{
    background-color: #fcd34d;
    text-align: center;
    height: 20vh;
}
.footer2{
    background-color: black;
    text-align: center;
    color: lightgrey;
}

